extends ../partials/head
block content
  .all-wrapper
    form.login-form#form
      h1.general-title Admin
      h2.general-subtitle Please enter admin password below.
      input.general-input#password(type='password' placeholder='Password' autofocus)
      button.general-button Log In
      .general-error#error