.all-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-member-form {
  width: 500px;
  height: fit-content;
  min-height: fit-content;
  background-color: var(--box-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: var(--box-padding);
  gap: 16px;
}