extends ../partials/head
block content
  .all-wrapper
    form.add-member-form#form
      h1.general-title Add Member
      h2.general-subtitle Please enter email and password below.
      input.general-input#email(type='email' placeholder='Email' autofocus)
      input.general-input#password(type='password' placeholder='Password' autofocus)
      button.general-button Create
      .general-error#error