extends ../partials/head
block content
  .all-wrapper
    form.login-form#form
      h1.general-title Login
      h2.general-subtitle Login to see dashboard.
      input.general-input#email(type='email' placeholder='Email' autofocus)
      input.general-input#password(type='password' placeholder='Password' autofocus)
      button.general-button Log In
      .general-error#error