* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  ;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-size: cover;
  background: var(--background-color);
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--background-color);
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

:root {
  --page-horizontal-padding: 60px;
  --page-vertical-padding: 60px;
  --box-padding: 20px;

  --header-height: 80px;

  --header-font-size: 24px;
  --title-font-size: 18px;
  --subtitle-font-size: 17px;
  --text-font-size: 16px;

  --main-color: rgb(246, 197, 73);
  --second-color: rgba(22, 104, 0, 1);
  --a101-color: rgba(70, 172, 200, 1);
  --bim-color: rgba(237, 56, 51, 1);
  --sok-color: rgba(11, 67, 149, 1);

  --placeholder-color: rgba(212, 212, 212, 1);
  --header-color: rgba(40, 13, 120, 1);
  --text-color: rgba(48, 48, 48, 1);
  --text-color-two: rgba(112, 112, 112, 1);
  --placeholder-color: rgba(164, 164, 164, 1);
  --border-color: rgba(212, 212, 212, 1);
  --background-color: rgba(236, 236, 236, 1);
  --box-color: rgba(248, 248, 248, 1);
  --footer-color: rgba(236, 236, 236, 1);

  --border-width: 2px;
  --border-radius: 5px;
}

.display-none {
  display: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media only screen and (min-width: 1500px) {
  :root {
    --page-horizontal-padding: calc((100vw - 1500px) / 2 + 60px);
  }
}